@import "fonts";
@import "rouge-github";

header {
  width:250px;
  float:left;
}

body {
  background-color: #fff;
  padding:50px;
  float:right;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
